.changepassword{
    display: flex;
    flex-direction: column;
    gap: 50px;
    &__down{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__form{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 40px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid #3354F4;
        gap: 20px;
        input{
            padding: 10px;
            background-color: lightgrey;
            border-radius: 15px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    button{
        padding: 10px;
        border-radius: 20px;
        background-color: #3354F4;
        color: white;
        font-weight: 500;
        cursor: pointer;
    }
}

@import '../mixin/mixin.scss';

@include tablet{
    .changepassword{
        &__down{
            display: flex;
            flex-direction: column;
        }
    }
}