<div class="changepassword">

  <div class="changepassword__top">
    <app-topnavbar></app-topnavbar>

  </div>

  <div class="changepassword__down">
    <div class="changepassword__form">
      <h2>Change Password</h2>
      <form [formGroup]="changePasswordForm">
        <label>User ID: {{ userId }}</label>
        <br>
        <label>Phone Number: </label>
        <input type="number" formControlName="phoneNumber" />
        <div *ngIf="changePasswordForm.get('phoneNumber')?.hasError('pattern') && changePasswordForm.get('phoneNumber')?.touched">
          <span class="text-danger">Please enter a valid 10-digit phone number.</span>
        </div>
        <br>
        <label>New Password: </label>
        <input type="password" formControlName="newPassword" />
        <div *ngIf="changePasswordForm.get('newPassword')?.hasError('required') && changePasswordForm.get('newPassword')?.touched">
          <span class="text-danger">Please enter a new password.</span>
        </div>
        <div *ngIf="changePasswordForm.get('newPassword')?.hasError('invalidPasswordFormat') && changePasswordForm.get('newPassword')?.touched">
          <span class="text-danger">Password must contain at least one letter and one digit.</span>
        </div>
        <br>
        <button (click)="updatePassword()" [disabled]="!changePasswordForm.valid">Update Password</button>

        <button (click)="navigateToHome()">Home</button>

      </form>
    </div>
    
  </div>


</div>