<div class="empchart1">
    
    <div class="empchart1__cont1">
      <div class="empchart1__time">
        <app-timedate></app-timedate>
      </div>
        <div id="casualLeaveChart" class="chart"></div>
        
      </div>
      
      <div class="empchart1__cont2main">
        <div class="empchart1__cont2">
          <div id="sickLeaveChart" class="chart"></div>
        </div>
        
        <div class="empchart1__cont3">
          <div id="earnedLeaveChart" class="chart"></div>
        </div>
      </div>
       
</div>

