
<div class="logincount">
    <div class="logincount__cont1">
        <div class="logincount__data1">
            <p>Logged-In User Count: </p><h3>{{ loggedInUserCount }}</h3>
        </div>
        <div class="logincount__data2">
            <p>Total Employees:</p><h3>{{ totalEmployeeCount }}</h3>
        </div>
    </div>

    <div class="logincount__cont2">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#252C58" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
          </svg>
    </div>

</div>
  