<div class="employeedash">

  <div class="employeedash__top">
    <app-topnavbar></app-topnavbar>
  </div>

  <div class="employeedash__down">
    <div class="employeedash__data1">
      <app-empnavbar></app-empnavbar>
    </div>

    <div class="employeedash__downdata2">
      <div class="employeedash__downdata2cont1">

  
        <app-empchart1></app-empchart1>
  
      </div>

      <div class="employeedash__downdata2cont3">

        <app-empreqleave></app-empreqleave>
        
      </div>

      <div class="employeedash__downdata2cont2">

        
        <div class="new2">
          <app-empleavetable></app-empleavetable>

        </div>

        <div class="new1">
          <app-empbarchart></app-empbarchart>

        </div>

      </div>
    </div>
    

  </div>
  
</div>