<div class="admindash">
  <div class="admindash__top">
    
    <app-topnavbar></app-topnavbar>

  </div>

  <div class="admindash__down">
    <div class="admindash__downcont1">

      <app-empnavbar></app-empnavbar>

    </div>

    <div class="admindash__downcont2">

      <div class="admindash__downcont2data1">
        <div class="admindash__newdiv1">
          <app-timedate></app-timedate>
          <app-adminchart1></app-adminchart1>
        </div>
        <div class="admindash__newdiv2">
          <app-adminbarchart1></app-adminbarchart1>
          <div class="admindash__btn">
            <app-logincount></app-logincount>
          <app-adminbtn></app-adminbtn>
          </div>
        </div>
      </div>

      <div class="admindash__downcont2data2">
        <div class="new1">
          <app-admintable></app-admintable>
        </div>

        <div class="new2">
          <app-adminbarchart2></app-adminbarchart2>
        </div>
      </div>

    </div>

  </div>

</div>