<div class="empleavetable">
  

  <div class="empleavetable__cont"   *ngIf="leaveDetails.length > 0; else noLeaveDetails">
    <div class="empleavetable__head">
      <h2>Leave Details</h2> 
      <p>Total Leaves Taken: {{ totalLeaves }}</p>   
    </div>
    <div class="empleavetable__main"  >
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Reason</th>
            <th>Leave Count</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leave of leaveDetails">
            <td>{{ leave.Lid }}</td>
            <td>{{ leave.startDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{ leave.endDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{ leave.status }}</td>
            <td>{{ leave.reason }}</td>
            <td [style.color]="getLeaveCountStyle(calculateLeaveForRow(leave)).color">
              {{ calculateLeaveForRow(leave) }}
            </td>        </tr>
        </tbody>
      </table>
    </div>
    </div>
  <ng-template #noLeaveDetails>
    <p>No leave details available.</p>
  </ng-template>
  

<ng-template #noLeaveDetails>
  <p>No leave details available.</p>
</ng-template>

</div>